{% extends 'adminTemplate/base.html.twig' %}

{% block header %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Administrators List</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit {{ admin.username }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

    {% include 'admin/admin/_form.html.twig' %}

{% endblock %}